[submodule "ext/k"]
	path = ext/k
	url = https://github.com/kframework/k
[submodule "ext/kninja"]
	path = ext/kninja
	url = https://github.com/nishantjr/kninja
[submodule "ext/pandoc-tangle"]
	path = ext/pandoc-tangle
	url = https://github.com/ehildenb/pandoc-tangle
[submodule "ext/boogie"]
	path = ext/boogie
	url = https://github.com/boogie-org/boogie/
